


  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin sans',sans-serif;
  }
  .container{
   /* min-height: 100vh;
    width: 100%;
    background:#fff;*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  .card2{
    width: 470px;
    height: 250px;
   position: relative;
   color:#fff;
   cursor: pointer;
   /*box-shadow: 1px 20px 30px grey;*/
   perspective: 1000px;
   margin-top: -39px;
   
  }
  .card-inner{
    width: 100%;
    height: 100% ;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .back2{
   width: 100%;
   height: 100%;
   background-image:linear-gradient(45deg,gold,#452e28  ) ;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 15px;
   padding: 20px 30px;
   overflow:  hidden;
   z-index: 1;
   backface-visibility: hidden;
   margin-top: 11%;
  }
  .front2{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(45deg,gold,#452e28  ) ;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    padding: 20px 30px;
    overflow:  hidden;
    z-index: 1;
    margin-top: 11%;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between ;
  }
  .map-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
  
  }
  ul h2{
    margin-left: 30px;
    color:#fff;
    padding: 5px;
  }
  ul span{
    color:orange;
    margin-left: 10px;
  }
  ul h5{
    margin-left: 10px;
    
  }
  .card-no2{
    font-size: 25px;
    margin-top:11px ;
    color: #fff;
  }
  .card-holder{
    font-size: 12px;
    margin-top: 5px;
  }
  .name{
    font-size: 20px;
    margin-top: 2px ;
  }
  .bar1{
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
   /* margin-top: 10px;*/
    
  
  }
  .card-cvv2{
    margin-top: 5px;
  }
  .card-cvv2 div{
    flex: 1;
  }
  .card-cvv2 img{
    width: 100%;
    display: block;
    line-height: 0;
  }
  .card-cvv2 p{
    background: #fff;
    color: #000;
    font-size: 22px;
    padding:5px 10px ;
  }
  .card-text{
    margin-top: 50px;
    font-size:14px ;
    
  }
  .back2{
    transform: rotateY(180deg);
  }
  .card2:hover .card-inner{
    transform: rotateY(-180deg);
    
  }
  .card-type{
    float: right;
    font-family: "Audiowide", sans-serif;
    margin-top: 4px;
  }
  .bottom-text{
    font-size: 9px;
  }

  /*form*/
.card-form{
    background: #fff;
    box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%);
    border-radius: 10px;
    padding: 35px;
    padding-top: 180px;
    width: 139%;
    margin-left: -18%;
    /*margin-bottom: 116px;*/
    margin-top: -22%;
  }
  .card-input{
    margin-bottom: 20px;
  }
  .card-input_label{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #1a3b5d;
    display: block;
    user-select: none;
    width: 100%;
    padding-top: 20px;
  }
  .card-input_input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "source sans pro",sans-serif;
  }
  .card-form_row{
    display: flex;
    align-items: flex-start;
  }
  .card-form_col{
    flex: auto;
    margin-right: 35px;
  }
  .card-form_group{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .card-input_input.-select{
    /*-webkit-appearance: none;*/
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIA…YAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC);
    background-size: 12px;
    background-position: 90% center;
    background-repeat: no-repeat;
    padding-right: 30px;
  }
  .card-form_group .card-input_input{
    flex: 1;
    margin-right: 15px;
  }
  option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2rem;
    padding: 0px 2px 1px;
  }
  .card-form_col.-cvv{
    max-width: 150px;
  }
  .card-form_col:last-child{
    margin-right: 0;
  }
  .card-form_button {
    width: 100%;
    height: 55px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgb(35 100 210 / 30%);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }

  @media  only screen and (max-width: 500px) {
    .card ,.card-inner,main,.card-form{
      width: 100%;
      margin-left: 1px;
    }
    
  }
  
  @media  only screen and (max-width: 600px) {
    .card ,.card-inner,main,.card-form{
      width: 100%;
      
    }
    
  }
  @media only screen and (min-width: 768px) {
     .card-inner ,main{
      width: 100%;
    }
      .card-form_group .card-input_input{
       overflow: visible;
  
      }
    
   }
   @media only screen and (min-width: 992px){
    .card-inner,main{
      width: 100%;
      
    }
    .card-form_group .card-input_input{
     overflow: visible;
   }
  }
  @media screen and (max-width:400px){
    .row,.row card no, .row card-holder,.row name,.row card-type{
      padding: 0px;
      margin-top: 0px;
    }
  }
  